* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #d2e8e8;
}

h1 {
  margin: 1rem 2rem;
  color: #2f7f7a;
}

h2 {
  font-weight: normal;
  color: #2f7f7a;
}

p {
  color: rgba(0, 0, 0, 0.6);
}

button,
a {
  color: #832ad5;
  font-size: 1rem;
  text-decoration: none;
  background: none;
  border: none;
  cursor: pointer;
}

button:hover,
a:hover {
  text-decoration: underline;
}

.category-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
  gap: 2rem;
}

.category-card {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 70%;
  padding: 1.5rem;
  border-radius: 0.25rem;
  border: 2px solid #000000;
}

.card-top-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-actions {
  display: flex;
  gap: 1rem;
  padding: 0.5rem 0rem;
}

.links {
  display: flex;
  justify-content: center;
  margin-top: 2.5rem;
  gap: 1rem;
}

.item-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 3rem;
  gap: 2rem;
}

.item-card {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 15%;
  padding: 1.5rem;
  border-radius: 0.5rem;
  border: 2px solid #000000;
}

.form {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}

.form form {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  width: 20%;
  padding: 1.5rem;
  border-radius: 0.5rem;
  border: 2px solid #000000;
}

.form button {
  margin-top: 0.5rem;
}
