* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

h1 {
  margin: 1rem 2rem;
}

h2 {
  font-weight: normal;
}

p {
  color: rgba(0, 0, 0, 0.75);
}

button,
a {
  color: #551a8b;
  font-size: 1rem;
  text-decoration: none;
  background: none;
  border: none;
  cursor: pointer;
}

button:hover,
a:hover {
  text-decoration: underline;
}

.category-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
  gap: 2rem;
}

.category-card {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 70%;
  padding: 1.5rem;
  border: 2px solid #000000;
}

.card-top-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-actions {
  display: flex;
  gap: 1rem;
  padding: 0.5rem 0rem;
}

.link {
  display: flex;
  justify-content: center;
  margin-top: 2.5rem;
}
